<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Creators</div>
    <div class="ui top attached segment">
        <div class="ui divided items">         
            
            <div class="item">
                <div class="content">
                    <div class="ui header">Rushabh Vakharwala</div>
                    <div class="extra">104892509</div>
                    <div class="email"><a href="mailto:vakharw@uwindsor.ca">vakharw@uwindsor.ca</a></div>
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <div class="ui header">Konika Gautam</div>
                    <div class="extra">104945283</div>
                    <div class="email"><a href="mailto:gautamk@uwindsor.ca">gautamk@uwindsor.ca</a></div>
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <div class="ui header">Akshay Jagadish</div>
                    <div class="extra">105008239</div>
                    <div class="email"><a href="mailto:jagadisa@uwindsor.ca">jagadisa@uwindsor.ca</a></div>
                </div>
            </div>
            
            <div class="item">
                <div class="content">
                    <div class="ui header">Priyal Shah</div>
                    <div class="extra">104964611</div>
                    <div class="email"><a href="mailto:shah18n@uwindsor.ca">shah18n@uwindsor.ca</a></div>
                </div>
            </div>

        </div>        
    </div>
</div>

<% include ./partials/footer %>